/**
 * @file
 * Subtheme specific CSS.
 */
html * {
    box-sizing: border-box;
}
#header {
    height: 80px;
    background: linear-gradient(45deg, #043751 0%, #104f71 30%, #1c809d 80%, #1c809d 100%);
}
#header .container {
    position: relative;
    height: 100%;
    padding: auto 50px;
}
#crest {
    position: absolute;
    left: 0px;
    top: 10px;
    bottom: 0;
    display: block;
    overflow: hidden;
    width: 203px;
}
#site-title {
    position: absolute;
    top: 0px;
    left: 220px;
    overflow: hidden;
    width: 200px;
    height: 100%;
}
#navbar-main {
    padding: 0;
}
#navbar-main .navbar {
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    margin: 0 15px;
    box-sizing: border-box;
}
#navbar-main .navbar-nav li {
    position: static;
}
#navbar-main .nav-item a {
    color: black;
    padding: 1rem 1.5rem;
}
#navbar-main .nav-link:hover {
    background-color: #eee;
    border-bottom: 5px solid #777;
    transition: none;
}
#navbar-main .navbar-nav .nav-link.is-active{
    color: #007dab;
    border-bottom: 5px solid #007dab;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.dropdown:hover .dropdown-menu a {
    text-decoration: none;
    padding: none;
}
.dropdown-item span{
    color: #007dab;
    padding: 5px;
}
.dropdown-menu span:hover {
    color: white;
    background-color: #224A61;
}
#main-content {
    background-color: #0098b0;
    color: white;
}
#main-content p {
    margin: 25px auto;
    padding: 17px 0 7px 0;
    font-size: 2.02em;
    line-height: 1.4em;
    font-weight: 200;
    width: 100%;
}
.tile {
    padding: 40px 20px;
    border-bottom: 3px solid #d9d9dc;
    height: 300px;
}
.row-fluid .tile .fontawesome-icons{
    display: block;
    color: #007dab;
}
.tile svg {
    font-size: 2rem;
}
.tile a{
    text-decoration: none;
}
.tile a:hover{
    text-decoration: underline;
}
.tile:hover {
    background-color: #eee;
    border-bottom: 3px solid #007dab;
    transition: none;
}
.row-fluid{
    border-left: none !important;
}

section .content h1 {
    padding: 2rem 0;
    border-top: 2px solid #f0f0f3;
    border-bottom: 2px solid #f0f0f3;
}
section .content article {
    margin-top: 2em;
}
.row .views-row {
    border-left: 2px solid #d9d9dc;
    padding: 0 15px;
    margin: 10px;
}
.row .views-row:hover {
    border-left: 2px solid #007dab;
}
.views-row .fontawesome-icons {
    display: inline-block;
    color: #007dab;
}
.sidebar .views-row {
    margin: 0;
    border-left: 2px solid #007dab;
}
.sidebar .views-row a:hover {
    text-decoration: underline;
}
.sidebar .views-row a {
    color: #000;
    text-decoration: none;
}
.sidebar .views-row {
    padding: 10px;
}
.sidebar h2 {
    border-bottom: none;
}
.sidebar-block .row .views-row+.views-row{
    border-top: 2px solid #f0f0f3;
}
.dropdown-item.active, .dropdown-item:active {
    color:#007dab;
    text-decoration: underline;
    background-color: #f0f0f3;
}